body {
  margin: 0
}

.sensor-text {
    display: inline
}

tr td:first-of-type {
    width: 300px;
    text-align: left;
}

body {
  -webkit-font-smoothing: antialiased;
}

.time-time, .logo-text {
  display: inline;
}

.menu {
  background-color: #03ab62;
}